<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <title>添加数据</title>
</head>
<body>
  <form method="post" action="/test01/add">
      <input  type="text" name="num"/>
      <input type="submit"   value="提交"/>
  </form>


</body>
<script>

</script>
</html>
